<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<h3>주문 목록</h3>
		<div>
			<table border="1">
				<thead>
					<tr>
						<th>주문번호</th>
						<th>고객번호</th>
						<th>도서번호</th>
						<th>구매금액</th>
						<th>주문일자</th>
						<th>관리</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:if="${list.size() < 1}">
						<td colspan="5">검색 된 주문이 없습니다.</td>
					</tr>
					
					<tr th:each="item : ${list}">
						<td th:text="${item.orderid}"></td>
						<td th:text="${item.custid}"></td>
						<td th:text="${item.bookid}"></td>
						<td th:text="${item.saleprice}"></td>
						<td th:text="${item.orderdate}"></td>
						<td><a th:href="@{ delete/{id} (id=${item.orderid}) }">삭제</a> <a th:href="@{update/{id}(id=${item.orderid})}">변경</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div>
			<a href="add">등록</a>
			<a href="../">처음으로</a>
		</div>
	</div>
</body>
</html>