<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<h3>상품 등록</h3>
		<div>
			<form method="post">
				<div>
					<label>상품명:</label>
					<input type="text" name="name">
				</div>
				<div>
					<label>제조사:</label>
					<input type="text" name="vendor">
				</div>
				<div>
					<label>가격:</label>
					<input type="number" name="price">
				</div>
				
				<div>
					<button>등록</button>
					<a href="list"><button type="button">취소</button></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>