<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<h3>상품정보 변경</h3>
		<div>
			<form method="post">
				<div>
					<label>상품번호:</label>
					<input type="number" name="goodsId" readonly th:value="${item.goodsId}"> 
				</div>
				<div>
					<label>상품명:</label>
					<input type="text" name="name" th:value="${item.name}">
				</div>
				<div>
					<label>제조사:</label>
					<input type="text" name="vendor" th:value="${item.vendor}">
				</div>
				<div>
					<label>가격:</label>
					<input type="number" name="price" th:value="${item.price}">
				</div>
				
				<div>
					<button>변경</button>
					<a href="../list"><button type="button">취소</button></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>