<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>

</head>
<body>
	<div>
		<h3>영화정보 변경</h3>
		<div>
			<form method="post" enctype="multipart/form-data">
				<div>
					<label>영화번호:</label> <input type="number" name="movieId" readonly
						th:value="${item.movieId}">
				</div>
				<div>
					<label>영화명:</label> <input type="text" name="title"
						th:value="${item.title}">
				</div>
				<div>
					<label>감독명:</label> <input type="text" name="director"
						th:value="${item.director}">
				</div>
				<div>
					<label>장르:</label> <input type="text" name="genre"
						th:value="${item.genre}">
				</div>
				<div>
					<label>개봉일:</label> <input type="date" name="openDate"
						th:value="${item.openDate}">
				</div>
				<div>
					<label>첨부파일: <button type="button" id="add">추가</button></label>
					<ul>
						<li th:each="attach : ${item.attach}">
							<p th:text="${attach.filename}"></p><button class="delete" type="button" th:attr="data-id=${attach.attachId}">삭제</button>
						</li>
					<li><input type="file" name="uploadFile"></li>
					</ul>
				</div>
				<div>
					<button>변경</button>
					<a href="../list"><button type="button">취소</button></a>
				</div>
			</form>
		</div>
	</div>
</body>
<script>
   window.onload = () => {
		const button=document.getElementById("add");
		const ul=document.getElementById("files");
		
		button.addEventListener("click",e =>{
			const li =document.createElement("li");
			const input=document.createElement("input");
			
			input.setAttribute("type","file");
			input.setAttribute("name","uploadFile");
			
			li.append(input);
			ul.append(li);
		});
      document.querySelectorAll(".delete").forEach(item => {
         item.addEventListener("click", e => {
        	const li=e.target.closest("li");
            const attach_id = item.dataset["id"];
            fetch(`../attach/delete/${attach_id}`)
            	.then(resp =>{
            		
            		if(resp.status==200 ){
            			li.remove();
            		}
            });
            
         });
      });
   }
</script>
</html>