<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<h3>고객정보 변경</h3>
		<div>
			<form method="post">
				<div>
					<label>고객번호:</label>
					<input type="number" name="custid" readonly th:value="${item.custid}"> 
				</div>
				<div>
					<label>고객명:</label>
					<input type="text" name="name" th:value="${item.name}">
				</div>
				<div>
					<label>주소:</label>
					<input type="text" name="address" th:value="${item.address}">
				</div>
				<div>
					<label>전화번호:</label>
					<input type="text" name="phone" th:value="${item.phone}">
				</div>
				
				<div>
					<button>변경</button>
					<a href="../list"><button type="button">취소</button></a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>